html {
    font-smoothing: antialiased;
    font-smooth: always;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
.panel{
    margin: 24px 0;
    padding: 48px 0;
}
.container {
    margin: 96px 0 0;
}
.navbar-right {
    float: right !important;
    margin-right: 5px;
}
.navbar-text {
    margin-right: 10px;
}
